VITE_MICROSOFT_TENANT_ID=organizations
VITE_MICROSOFT_CLIENT_ID=
VITE_MICROSOFT_REDIRECT_URI=https://red-coast-0b0c14e0f.7.azurestaticapps.net
VITE_SITE_ACCESS_HASH=773097d41df91c845da1b80c6140bfd52d8f3eaf6ec37258dc07212d893fa251
