SIGNAL_FOUNDRY_LOCAL_MCP_URL=http://localhost:7071
SIGNAL_FOUNDRY_AZURE_MCP_URL=https://ca-signal-foundry-mcp.agreeablemushroom-5fb088be.eastus2.azurecontainerapps.io
SIGNAL_FOUNDRY_LOCAL_API_OPENAPI_URL=http://localhost:7071/openapi.json
SIGNAL_FOUNDRY_AZURE_API_OPENAPI_URL=https://ca-signal-foundry-mcp.agreeablemushroom-5fb088be.eastus2.azurecontainerapps.io/openapi.json
